.buttonStyle{
	padding: 10px 15px 11px !important;
	font-size: 15px !important;
	font-family: 'verdana';
	background-color: #35C1B2;
	font-weight: bold;
	color: #FFFFFF;
	top: 50%;
	width: 200px;
	height: 43px;
	border-radius: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 2px;
	border: 0px solid #35C1B2;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.buttonStyle2{
	padding: 10px 15px 11px !important;
	font-size: 15px !important;
	font-family: 'verdana';
	background-color: #35C1B2;
	font-weight: bold;
	color: #FFFFFF;
	top: 50%;
	width: 97px;
	height: 43px;
	border-radius: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 2px;
	border: 0px solid #35C1B2;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}


button:disabled {
	background-color: #B9F6F0;
}

button:active {
	background-color: #16A999;
}
body {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2 url("../images/bg_body.jpg") repeat;
  color: #777;
}
*
{ margin: 0;
  padding: 0;}
p
{ padding: 0px 0px 20px 0px;
  line-height: 1.5em;}
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 200% 'Montserrat', arial, sans-serif;
  font-weight: 700;
  color: #F92131;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'Montserrat', arial, sans-serif;
  color: #1293EE;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#header {
    background: #1D1D1D url("../images/bg_body_dark.jpg");
	height: 132px;
}

#logo
{ width: 940px;
position: relative;
  height: 60px;}
  
#main, #logo, #nav, #content, #footer
{ margin-left: auto; 
  margin-right: auto;
}
  

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;
 }

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% Montserrat, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #F92131;}

  
#nav {
  
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  width: 940px;
  height: 72px;
  padding: 0px;
  background: #FB4552;
}
#content
{
  width: 879px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFFFFF;
}


.sidebar
{ float: right;
  width: 200px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content_text
{
  text-align: left;
  padding: 0;
  font-size: 15px;
  font: arial,helvetica,sans-serif;
  width: 640px;
}


#content_form
{
  text-align: left;
  padding: 0;
  font-size: 15px;
  font: arial,helvetica,sans-serif;
  width: 879px;
}

#content ul
{ margin: 5px 0 0px 0px;}
#content ol
{ margin: 5px 0 10px 0px;}
#content ul li 
{ list-style-type: none;
  background: url("../images/bullet.png") no-repeat;
  margin: 0 0 0px 0; 
  padding: 0 0 5px 25px;
  line-height: 1em;}

#content ol
{ 
  margin: 0 0 6px 0; 
  padding: 0px 0 4px 25px;
  line-height: 1.5em;}
  
#stream {
  text-align: left;
  float: left;
  width: 640px;
  height: 480px;
  color: #FFFFFF;
  padding: 0;
}


#controls
{ float: right;
  width: 200px;
  height: 967px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 30px 0px 20px 20px;}

  
#footer
{ width: 940px;
  font: normal 100% 'Montserrat', arial, sans-serif;
  height: 50px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #F92131 url(footer.png) repeat-x;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

  
.controls ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.controls li
{ list-style: none; 
  padding: 0 0 7px 0; }

.controls li a, .controls li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.controls li a.selected
{ color: #444;
  text-decoration: none;} 
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1293EE; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
 
 table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ 
  color: #000;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ 
  color: #47433F;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 90px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}